@mixin font {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#canvas {
  @include font;

  .book {
    transform: rotate(270deg);
    color: red;
  }

}
